body{
    font-family:Georgia, Times, serif;
    width: 90%;
    margin: 0 auto;
    background-color: #F5F5F5;
}

header {
    font-size:1.2rem; 
    text-align: center;
    padding-bottom: 90px;
}

img {
    float: left;
    height: 150px;
    padding: 10px 0px 10px 0px;
}

div {
    padding: 0px 0px 10px 0px;
}

p {
    font-weight: bold;
    font-size: large;
}
